

.book{
    height: 100vh;
    background-image: url('../img/book/backgr.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    @include tablets{
        background-image: url('../img/book/backgr__tablets.jpg');
    }
    &__title{
        text-align: center;
        color: white;
        // padding-top: rem(62px);
        // margin-bottom: rem(60px);
    }

}
.form{
    display: flex;
    margin-top: rem(59px);
    @include tablets{
        flex-direction: column;
        padding-right: 4%;
    
    }
    &__col{
        flex: 1;
        margin-right: rem(54px);
        @include tablets{
            margin-right: 0;
        }
    }
    &__row{
        display: flex;
        margin-bottom: rem(12px);
        &--right{
            flex-direction: column;
        }
    }
    &__block{
        flex:1;
        margin-right: rem(34px);
        &:last-child{
            margin-right: 0;
        }
        &--textarea{
            @include tablets{
                margin-right: 0;
            }
        }
    }
    &__input{
        border-radius: rem(4px);
        width: 100%;
        outline: none;
        padding-top: rem(18px);
        padding-bottom: rem(18px);
        padding-left: rem(12px);
        font-style: normal;
        font-weight: 400;
        font-size: rem(14px);
        line-height: rem(20px);
        border: rem(3px) solid transparent;
        &:focus{
            border: rem(3px) solid #FEDB3F;
        }
        &--textarea{
            height: rem(103px);
            resize: none;
            width: 100%;
        }
    }
    &__title{
        font-style: normal;
font-weight: 400;
font-size: rem(18px);
line-height: rem(22px);
color: white;
    }
    &__controls{
        display: flex;
        flex-wrap: wrap;
        @include phones{
            justify-content: center;
        }
        &:nth-child(2){
            margin-top: rem(26px);
        }
        &:nth-child(3){
            margin-top: rem(19px);
        }
    }
    &__btns{
        @include tablets{
            display: flex;
            justify-content: center;
        }
        margin-top: rem(46px);
        .button{
            &:last-child{
                margin-left: rem(22px);
            }
        }
    }
    
}

