.fixed-menu{
    position: fixed;
    top:35%;
    right:4%;
    &--black{
        transition: .4s;
        .fixed-menu__link::after{
            background: black;
            transition: .4s;
        }
        .fixed-menu__item:hover{
            border-color: black;
        }
        .fixed-menu__item--active{
            border:rem(1px) solid black;
            border-radius: 50%;
            transition: .3s;
        }
        
    }
    @include tablets{
        display: none;
    }
    &__item{
        margin-bottom: rem(5px);
        &:hover{
            .fixed-menu__link{
                border-color: white;
            }
        }
        &--active{
            .fixed-menu__link{
                border-color: white;
            }
        }
    }
    &__link{
        position: relative;
        width: rem(16px);
        height: rem(16px);
        border-radius: 50%;
        border: rem(1px) solid transparent;
        display: block;
        &::after{
            content: "";
            position: absolute;
            width: rem(8px);
            height: rem(8px);
            background: white;
            border-radius: 50%;
            display: block;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            
            
        }
    }
    
}
