.hello{
    background-image: url('../img/hello/backgr.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @include tablets{
        background-image: none;
    }
    
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        @include tablets{
            
            text-align: center;
            align-items:start;
            background-image: url('../img/hello/backgr__tablets.jpg');
          
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
    &__title{
        color: white;
    }
    &__subtitle{
        font-style: normal;
        font-weight: 400;
        font-size: rem(21px);
        line-height: rem(25px);
        color: white;
        margin-top: rem(17px);
        margin-bottom: rem(60px);
    }
    .features{
        margin-top: rem(85px);
        display: flex;
        gap: rem(33px);
        @include tablets{
            &--hello{
                display: none;
            }
        }
    }
    .feature{
        display: flex;
        gap: rem(14px);
        align-items: center;
        &__about{
            width: rem(90px);
            font-style: normal;
            font-weight: 700;
            font-size: rem(16px);
            line-height: rem(18px);
            color: white;
        }
    }
    
}
.menu{
    display: flex;
    
    &__list{
        display: flex;
        gap: rem(22px);
        flex-wrap: wrap;
        justify-content: center;
    }
    &__link{
        font-style: normal;
        font-weight: 700;
        font-size: rem(18px);
        line-height: rem(20px);
        color: white;
        white-space: nowrap;
    }
    @include tablets{
        display: none;
    }
}

.header{
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: rem(28px);
   
    @include tablets{
        background-color: #1968B1;
        padding-bottom: rem(28px);
    }
    
    
}

.phone{
    display: flex;
    align-items: center;
    @include tablets{
        &--header{
            display: none;
        }
    }
}
.phone__number{
    font-style: normal;
    font-weight: 700;
    font-size: rem(22px);
    line-height: rem(18px);
    color: white;
    position: relative;
    white-space: nowrap;
    @include tablets{
    
    }  
    &--footer{
        color: black;
        font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 21px;
    }
}







