.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: rgba($color: #000000, $alpha: .8);
    align-items: center;
    overflow: hidden;
    z-index: 600;
    &--open{
        display: flex;
    }
    &__container{
        background: white;
        padding: 35px 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 15px;
        max-width: 600px;
    
        
    }
    &__content{
        margin-bottom: 40px;
        &--error{
            color: red;
        }
    }
}

