.overlay{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #313131;
    z-index: 1000;
    display: none;
    justify-content: center;
    height: 100vh;
    position: fixed;
    &__close-link{
        position: absolute;
        right: 0;
        display: flex;
    }
   &__container{
    margin-top: 42px;
    position: relative;
    padding: 0 20%;
    
    @include phones{
        padding: 0 10%;
    }
   }
   .open{
    display: flex;
   }
   .menu--overlay{
    margin-top: 73px;
    display: flex;
    flex-direction: column;
    .menu__list--overlay{
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: rem(40px);
    }
   }
   .menu__link{
    font-size: rem(36px);
    font-weight: 400;
   }
}
.icon--close{
    width: 20px;
    height: 20px;
    
    
}

