.reviews{
    height: 100vh;
    &__title{
        text-align: center;
        
    }
    &__avatar{
        @include tablets{
            width: 130px;
        }
    }
    &__content{
        background-color: #F8FAF9;
        padding: rem(42px);
        display: flex;
        margin-top: rem(32px);
        @include tablets{
            padding-top:rem(56px);
            padding-bottom: rem(46px);
            padding-left:rem(24px);
            padding-right: rem(24px);
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
    &__about{
        display: flex;
        flex-direction: column;
        margin-left: rem(38px);
        @include tablets{
            margin-left: 0;
        }
    }
    &__heading{
        margin-top: rem(28px);
        margin-bottom: rem(14px);
        color: #292929;
    }
    &__text{
        margin-bottom: rem(25px);
        width: rem(463px);
        font-style: normal;
        font-weight: 400;
        font-size: rem(18px);
        line-height: rem(22px);
        color: #666666;
        @include tablets{
            max-width: rem(677px);
            padding-right: 25%;
        }
        @include phones{
            max-width: rem(405px);
            padding-right: 10%;
        }
    }
    &__name{
        font-style: normal;
        font-weight: 500;
        font-size: rem(18px);
        line-height: rem(24px);
        color: #292929;
    }
    &__icons{
        display: flex;
        justify-content: center;
        gap: rem(6px);
        margin-top: rem(15px);
    }
    &__list{
        display: flex;
    }
    &__item{
        display: flex;
        max-width: rem(463px);
        position: absolute;
        opacity: 0;
        transition: .5s;
        min-height: 252px; 
        @include tablets{
            flex-direction: column;
            align-items: center;
            max-width: 677px;
            justify-content: center;
        }
        @include phones{
            max-width: 405px;
        }
        &--active{
            position: static;
            opacity: 1;
        }
    }
    &__icon{
        border: 6px solid transparent;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(74px);
        height: rem(74px);
        transition: .2s;
        &:hover{
            border:6px solid #FEDB3F;
        }
        
        &--active{
            border:6px solid #FEDB3F;
        }
    }
    &__link{
        width: rem(74px);
        height: rem(74px);
    }
    
}