.reviews{
    height: 100vh;
    &__title{
        text-align: center;
        
    }
    &__avatar{
        @include tablets{
            width: 130px;
        }
    }
    &__content{
        background-color: #F8FAF9;
        padding: rem(42px);
        display: flex;
        margin-top: rem(32px);
        @include tablets{
            padding-top:rem(56px);
            padding-bottom: rem(46px);
            padding-left:rem(24px);
            padding-right: rem(24px);
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
    &__about{
        display: flex;
        flex-direction: column;
        margin-left: rem(38px);
    }
    &__heading{
        margin-top: rem(28px);
        margin-bottom: rem(14px);
        color: #292929;
    }
    &__text{
        margin-bottom: rem(25px);
        width: rem(463px);
        font-style: normal;
        font-weight: 400;
        font-size: rem(18px);
        line-height: rem(22px);
        color: #666666;
        @include tablets{
            max-width: rem(677px);
            padding-right: 25%;
        }
        @include phones{
            max-width: rem(405px);
            padding-right: 10%;
        }
    }
    &__name{
        font-style: normal;
        font-weight: 500;
        font-size: rem(18px);
        line-height: rem(24px);
        color: #292929;
    }
    &__list{
        display: flex;
        justify-content: center;
        gap: rem(6px);
        margin-top: rem(15px);
    }
    
}