.icon{
    flex-shrink: 0;
    width: rem(20px);
    height: rem(20px);
    &--phone{
        width: rem(13px);
        margin-right: rem(6px);
        height: rem(14px);
        
    }
    &--why{
        width: 64px;
        height: 64px;
    }
    &--feature{
        width: 41px;
        height: 41px;
    }
}