.why{
    &__top{
    padding-bottom: 113px;
    }
    &__bottom{
        background-color: #F8FAF9;
    }
    &__title{
        margin-top: 103px;
        color: black;
        text-align: center;
    }
    &__subtitle{
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #666666;
        width: 436px;
        margin: 0 auto;
    }
    &__list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        
    }
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: flex-start;
        &--between{
            margin-top: 56px;
        }

    }
    &__img{
        width: 128px;
        margin-bottom: 20px;
    }
    &__text{
        margin-top: 20px;
        text-align: center;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color:#666666;
    }
}
.parameters{
    background-color: #F8FAF9;
}