@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700;800&display=swap");
*{
    padding:0;
    margin: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.container--bigger{
    max-width: 980px;
    margin: 0 auto;
}
body{
    font-family: 'Alegreya Sans';
}
.title{
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    &--light{
        color: white;
    }
    &--first{
        text-align: start;
    }
}




.h4{
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
}
.button{
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: black;
    padding: 21px 41px;
    background-color: #FEDB3F;
    border-radius: 100px;
    transition: .2s;
    cursor:pointer;
    max-width: max-content;
    &:hover{
        background-color: rgb(69, 62, 62); 
        color: white;
    }
    &--reset{
        background: transparent;
        text-transform: capitalize;
        color: white;
        padding: 0;
        border-radius: 0;
        &:hover{
            background: transparent;
            color: white;
        }
    }
}
input[type="submit"],input[type="reset"]{
    border: none;
}



