$baseFontSize : 18px;
$tablets:768px;
$phones:480px;
@import './blocks/_media.scss';
@import './_base.scss';
@import './normalize.css';
@import './blocks/_header.scss';
@import './blocks/_why.scss';
@import './blocks/_reviews.scss';
@import './blocks/_book.scss';
@import './blocks/_radio.scss';
@import './blocks/_fixed-menu.scss';
@import './blocks/_section.scss';
@import './blocks/_contacts.scss';
@import './blocks/_sprite.scss';
@import './blocks/_footer.scss';
@import './blocks/_burger.scss';
@import './blocks/_slider.scss';
@import './blocks/_overlay.scss';
@import './blocks/_team.scss';



